* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: #fff;
}

.tab-bar {
    position: fixed;
    display: flex;
    height: 75.198px;
    background: black;
    width: 100%;
    padding: 0 15px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

li.logo {
    flex: 1;
    padding: 7.5px 10px 7.5px 0px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 15px 5px;
}

.selector {
    font-size: 18px;
    padding: 10px;
}

li.selector.button {
    padding: 9px 5px;
    width: auto;
}

.button a {
    background: #0080ff;
    border: 1px royalblue solid;
    padding: 10px 15px;
    margin: 5px 0px;
}

.button.second a {
    background: transparent;
    border: 1px #0080ff solid;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    height: 100vh;
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);
}

.welcome p {
    font-style: italic;
    color: #000;
    font-size: 30px;
}

.projects {
    height: 1162.63px;
    text-align: center;
    padding: 100px 20px;
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}

.projects-header {
    max-width: 640px;
    margin: 0 auto 60px auto;
    border-bottom: 2px solid #fff;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 42px;
}

h1 h2 {
    text-align: center;
    font-weight: 700;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 40px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.projects-grid a {
    padding: 0;
}

.link {
    background: #000;
    border-radius: 10px;
}

.block-img {
    width: 100%;
    object-fit: cover;
}

.block-title {
    font-size: 20px;
    padding: 20px 5px;

}

.projects-button {
    font-size: 20px;
    background: gray;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 2px;
}

.link:hover {
    color: rgb(234, 114, 23);
}

.link:hover .code {
    color: rgb(234, 114, 23);
}

.link:hover .block-title {
    color: white;
}

.projects-button:hover {
    background-color: #FF0000;
}

.projects-button:hover .fa-chevron-right {
    position: relative;
    left: 5px;
    transition: transform 0.2s ease-out;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 20px;
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);
}

.contact-header h2 {
    font-size: 60px;
}

.contact-header p {
    font-style: italic;
    color: white;
    font-size: 18px;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-links a {
    font-size: 24px;
}

.contact-details {
    font-size: 24px;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.contact-details:hover {
    /* position: relative;
    top: 10px;
    transition: transform 0.28s ease-out; */
    transform: translateY(8px);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 2px;
}

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background: #000;
}

footer p {
    font-size: 18px;
    color: #FFFFFF;
}